@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
.heading1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 63px;
}
.heading2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 27px;
  font-size: 34px;
  letter-spacing: 1px;
}
.subheader1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 24px;
  color: #a3a3a3;
  margin-top: 30px;
}
.subheader2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #a3a3a3;
  margin-top: 15px;
  font-size: 18px;
}
.heading3 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 5px;
}
.link {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.link:hover {
  text-decoration: underline;
}
.btn1 {
  background: #fff;
  color: black;
  border: 1px solid #95999b;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 70px;
}
.btn1:hover {
  background: #a3a3a3;
}
.btn2 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 14px;
  text-transform: lowercase;
  background: #f68236;
  margin-left: -4px;
  width: 94px;
  height: 54px;
  border: 0;
}
.btn2:hover {
  background: #e67429;
}
.lg {
  width: 230px;
  height: 58px;
}
.md {
  width: 200px;
  height: 55px;
}
.sm {
  width: 174px;
  height: 53px;
}
.spacing {
  margin: 10px auto;
  padding: auto 30px;
}
