@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  transition: all 200ms;
}
html {
  width: 100%;
  background: #e5e5e5;
}
body {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
